* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.displayFlex {
    display: flex;
}

.navFont {
    font-size: 1.25rem;
    font-weight: 700;
}

/* Header Styles */
header {
    margin: 10px 100px;
}


/* Nav Styles */
nav {
    justify-content: space-between;
    /* padding: 0px 20px; */

    gap: 10px;


}

.navTitle {
    font-size: 2rem;
    font-weight: 700;
    margin: auto 0px;

}

.navLInk {
    gap: 20px;
}

nav a {
    text-decoration: none;
}

nav ul li {
    list-style: none;


}

.orange {
    color: #FEA301;
}

.skyBlue {
    color: #01ACFD;
}

.aqua {
    color: #05D4DF;
}

.purple {
    color: #5D58EF;
}

.navBtn {
    border-radius: 12px;

    padding: 5px 50px;
    background: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border: none;
}

/* Nav Mobile */
.navMobile {

    display: none;
}

/* Banner Styles */
.banner {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-1 {
    max-width: 766px;

}

.banner-2 {
    max-width: 570px;
}

.bannerTitle {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 20px 0px;
}

.bannerDescription {
    font-size: 1.25rem;
    font-weight: 400;

}

.bannerClr1 {
    color: #FEA301;
}

.bannerClr2 {
    color: #01ACFD;
}

.bannerBtn {
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    color: white;
    background: rgb(17, 17, 17);
    margin: 24px 0px;
    padding: 5px 50px;
}

.banner-2 img {
    width: 100%;
}

/* Curriculum Styles */

.curriculum{
    background-image: url(../assets/bg.png);
    margin-top: 50px;
    
}
.curriculumTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.curriculumContainer {
    justify-content: center;
    gap: 60px;
    margin: 80px auto;
    
    
    
}

.curriculumBox {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 380px;
    max-height: 480px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    padding: 40px 20px;
    
    
}


.cardTitle{
    
    padding: 20px 0px;
    font-size: 1.8rem;
}
.cardDescription{
    font-size: 1.5rem;
    font-weight: 500; 
    
}
.cardBtn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: white;
    padding: 20px 0px;
}
.btnOne{
    color: #64C8FF;
}
.btnTwo{
    color: #F0AA00;
}
.btnThree{
    color: #8700FF;
}
.bannerArrow{
    
    gap: 10px;
    justify-content: center;
    align-items: center;
    


   
}
.arrowBtn{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin-bottom:20px ;


background: rgb(254, 163, 1);
}
.arrowBtn i{
    color: white;
}

/* Responsive For Mobile Device */

@media screen and (max-width:576px) {
    header {
        margin: 0px;
    }
    


    .navSection {
        display: none;
    }

    .navContent {
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .navMobile {
        display: flex;

        justify-content: space-between;
        align-items: center;


    }

    .mobile {
        padding: 10px 12px;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
        gap: 0px;

    }

    .banner-1 {
        order: 2;
        text-align: center;

    }

    .bannerBtn {
        margin: 0px auto;

    }

    .bannerTitle {
        font-size: 2rem;
    }

    .bannerDescription {
        margin-bottom: 10px;
    }
    .curriculumTitle{
        font-size: 26px;
    }
    
    
    .curriculumContainer{
        flex-direction: column;
        gap: 10px;
        margin: 30px 30px;
    }
    .bannerArrow{
        display: none;
    }
}